{% extends 'base.html.twig' %}

{% block title %}{{ gig.pub.name }}{% endblock %}

{% block body %}
    <section class="container">
        <h3>Added new musician to {{ gig.pub.name }} !</h3>
    </section>

{% endblock %}